@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,700&display=swap");
@import url("http://fonts.cdnfonts.com/css/helvetica-neue-9");
.text-green {
  color: #51C192;
}

* {
  font-family: 'Helvetica Neue', sans-serif;
  color: #f5f5f5;
}

span,
p,
li,
a {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: #f5f5f5;
}

html {
  transition: 1s ease-in;
  overflow-x: hidden;
}

body {
  background-color: #171A19;
  margin-top: 24px;
  overflow-x: hidden;
}

header {
  top: 0;
  z-index: 99;
  width: 100vw;
  overflow-x: hidden;
  background: #171A19;
  background: linear-gradient(180deg, #171a19 0%, rgba(23, 26, 25, 0.627889) 50%, rgba(23, 26, 25, 0) 100%);
}

header a {
  font-size: 16px !important;
}

header nav .nav-item {
  margin: 0 12px;
}

header nav .button {
  margin-left: 52px;
}

header nav .button .btn {
  padding: 8px 20px;
}

header #logoHeader {
  height: 80px;
}

aside#leftSide {
  width: 5em;
  height: 40vh;
  bottom: 0px;
  background: #171A19;
}

aside#leftSide .icon-social-media {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2c634c;
  color: #bebebe;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 500ms ease;
}

aside#leftSide .icon-social-media:hover {
  background-color: #51C192;
  color: #f5f5f5;
}

aside#leftSide .icon-social-media a {
  font-size: 16px;
}

.overflow-x {
  overflow-x: hidden !important;
}

aside#rightSide {
  width: 14em;
  height: 100vh;
}

aside#rightSide #downloadCV {
  height: 20%;
}

aside#rightSide a {
  font-size: 16px;
}

aside#rightSide #pageBar {
  height: 80%;
  padding-right: 2em;
}

aside#rightSide .ellipse {
  width: 12px;
  height: 12px;
  margin: 8px 0;
  background-color: #2c634c;
  border-radius: 50%;
}

.bg-dark2 {
  background-color: #171A19;
}

main {
  margin-top: 5em;
}

main .text-gradient-green {
  background: #23CFA7;
  background: linear-gradient(to right, #23CFA7 0%, #1A7878 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main section {
  padding: 2em 0 4em 0;
}

main section#turbotron {
  overflow: hidden;
  width: 100vw;
  position: relative;
}

main section#turbotron #textJumbotron {
  opacity: 0;
}

main section#turbotron #photoJumbotron {
  opacity: 0;
}

main section#turbotron .bg-gradient-green {
  background: #23637a;
  background: linear-gradient(90deg, #23637a 0%, #33a65b 57%, #c5ffa9 100%);
}

main section#turbotron .arrow-button {
  border: 2px solid white;
  background: white;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.38139) 0%, rgba(255, 255, 255, 0.140494) 100%);
}

@media screen and (max-width: 480px) {
  main section#turbotron .textJumboName {
    font-size: 3.5em;
  }
}

@media screen and (min-width: 480px) {
  main section#turbotron .textJumboName {
    font-size: 4em;
  }
}

main section#turbotron .contain {
  z-index: 5;
}

main section#turbotron .box-scroll {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: yourAnimation 3s ease 0s infinite normal none;
  /* Copy this @keyframes block to your CSS*/
}

main section#turbotron .box-scroll .angle-down {
  width: 1em;
  height: 1em;
  border-bottom: 2px solid #51C192;
  border-left: 2px solid #51C192;
  transform: rotate(-45deg);
}

@keyframes yourAnimation {
  0.0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
  24.6% {
    opacity: 1;
  }
  49.5% {
    opacity: 0;
  }
  74.9% {
    opacity: 1;
  }
}

main section#turbotron #textImageTurbotron {
  bottom: 0px;
  right: 4em;
}

main section#turbotron .imageJumbo {
  width: 80%;
}

main section#background #contentBackground {
  opacity: 0;
}

main section#background .bg-text-background {
  position: absolute;
  top: 0;
  z-index: 1;
  color: #444;
}

@media screen and (max-width: 480px) {
  main section#background .bg-text-background {
    font-size: 4em;
  }
}

@media screen and (min-width: 480px) {
  main section#background .bg-text-background {
    font-size: 6em;
  }
}

main section#background .text-background {
  line-height: 2em;
}

main section#background .text-section-background {
  z-index: 3;
  position: relative;
}

main section#background .button-next-background {
  width: 3em;
  height: 3em;
  border: 2px solid #51C192;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #51C192;
  transition: 1s ease;
  cursor: pointer;
}

main section#background .button-next-background:hover {
  background: #51C192;
}

main section#background .img-stack {
  width: 64px !important;
  height: 64px !important;
  margin: 0 0.75em;
  filter: saturate(0);
}

main section#aboutme #contentAboutme {
  opacity: 0;
}

@media screen and (max-width: 480px) {
  main section#aboutme .box-hobby {
    width: 4em;
  }
}

@media screen and (min-width: 480px) {
  main section#aboutme .box-hobby {
    width: 5.5em;
  }
}

main section#aboutme .text-bg-about {
  width: 6em;
  position: absolute;
  transform: rotate(-90deg) translate(-3em, -2em);
  color: #444;
}

@media screen and (max-width: 480px) {
  main section#aboutme .text-bg-about {
    font-size: 4em;
  }
}

@media screen and (min-width: 480px) {
  main section#aboutme .text-bg-about {
    font-size: 6em;
  }
}

main section#portfolio #contentPortfolio {
  opacity: 0;
}

main section#portfolio .bg-portfolio {
  position: absolute;
  height: 32em;
  z-index: -1;
}

@media screen and (max-width: 480px) {
  main section#portfolio .bg-portfolio {
    height: 16em;
  }
}

@media screen and (min-width: 480px) {
  main section#portfolio .bg-portfolio {
    height: 32em;
  }
}

main section#portfolio .bg-portfolio .portfolio-line {
  width: 100%;
  height: 10em;
  margin-top: 5em;
}

main section#portfolio .bg-portfolio .text-bg-portfolio {
  color: #444;
}

@media screen and (max-width: 480px) {
  main section#portfolio .bg-portfolio .text-bg-portfolio {
    font-size: 4em;
  }
}

@media screen and (min-width: 480px) {
  main section#portfolio .bg-portfolio .text-bg-portfolio {
    font-size: 6em;
  }
}

main section#portfolio .portfolio-content {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 480px) {
  main section#portfolio .portfolio-content {
    height: 16em;
  }
}

@media screen and (min-width: 480px) {
  main section#portfolio .portfolio-content {
    height: 32em;
  }
}

main section#portfolio .portfolio-content .text-subtitle-portfolio {
  text-transform: uppercase;
}

@media screen and (max-width: 480px) {
  main section#portfolio .portfolio-content .text-subtitle-portfolio {
    transform: rotate(0deg) translate(0, 0);
  }
}

@media screen and (min-width: 480px) {
  main section#portfolio .portfolio-content .text-subtitle-portfolio {
    transform: rotate(-90deg) translate(0, -1.5em);
  }
}

main section#portfolio .box-portfolio {
  cursor: pointer;
  height: 24em;
  position: relative;
}

main section#portfolio .box-portfolio .img-gray {
  filter: grayscale(100%);
}

@media screen and (max-width: 480px) {
  main section#portfolio .box-portfolio .img-gray {
    filter: grayscale(0%);
  }
}

@media screen and (min-width: 480px) {
  main section#portfolio .box-portfolio .img-gray {
    filter: grayscale(100%);
  }
}

main section#portfolio .box-portfolio:hover > .img-gray {
  filter: grayscale(0%);
}

main section#portfolio .box-portfolio .text-box-portofolio {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 1em;
  top: 0;
}

main section#portfolio .box-portfolio .text-title-box {
  position: absolute;
  transition: 1s ease-in;
}

main section#portfolio .box-portfolio:hover > .text-box-portofolio {
  background: #171a19;
  background: linear-gradient(180deg, #171a19 0%, rgba(23, 26, 25, 0.252539) 25%, rgba(23, 26, 25, 0) 50%, rgba(23, 26, 25, 0.249737) 75%, #171a19 100%);
}

.img-fluid {
  object-fit: cover;
}

@keyframes kanankiri {
  0% {
    left: 0;
    transform: translate(0);
  }
  100% {
    left: 0;
    transform: translate(0);
  }
  45% {
    left: 0;
    transform: translate(-40%);
  }
}

.anime-kanan-kiri {
  animation: kanankiri 20s ease 0s infinite normal none;
}

#cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 999;
  border: 2px solid #51C192;
  border-radius: 50%;
  transition: 100ms ease;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.underliness {
  color: #f5f5f5;
  text-decoration: none;
  transition: 500ms ease;
}

.underliness:hover {
  color: #51C192;
}

.bg-gradient-green {
  background: #23637a;
  background: linear-gradient(90deg, #23637a 0%, #33a65b 57%, #c5ffa9 100%);
}

a:hover ~ #cursor {
  transform: scale(50%);
}

.parent-photo1 {
  position: absolute;
  overflow-x: hidden;
  top: 0;
  padding-bottom: 3em;
}

.photo1 {
  z-index: -1;
  height: 24em;
  margin-top: -8em;
  margin-left: 8.5em;
  filter: brightness(90%) contrast(125%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(50%);
  mix-blend-mode: none;
  transform: rotate(-18deg);
}

.modal-content {
  background-color: #171A19;
}

.modal-backdrop {
  z-index: -1;
}
