@import 'module/mixin';
@import 'module/varible';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,700&display=swap');

@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');

* {
    font-family: 'Helvetica Neue', sans-serif;
    color: $white;
}

span,
p,
li,
a {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: $white;
}

html {
    transition: 1s ease-in;
    overflow-x: hidden;
}

body {
    background-color: $dark;
    // height: 4000px;
    margin-top: 24px;
    overflow-x: hidden;
}

header {
    top: 0;
    z-index: 99;
    width: 100vw;
    overflow-x: hidden;
    background: $dark;
    background: linear-gradient(180deg, rgba(23, 26, 25, 1) 0%, rgba(23, 26, 25, 0.6278886554621849) 50%, rgba(23, 26, 25, 0) 100%);

    a {
        font-size: 16px !important;
    }

    nav {
        .nav-item {
            margin: 0 12px;
        }

        .button {
            margin-left: 52px;

            .btn {
                padding: 8px 20px;
            }
        }
    }

    #logoHeader {
        height: 80px;
    }
}

aside#leftSide {
    width: 5em;
    height: 40vh;
    bottom: 0px;
    background: $dark;
    // border: 1px solid yellow;

    .icon-social-media {
        width: 40px;
        height: 40px;

        border-radius: 50%;
        background-color: $darkgreen;
        color: $darkwhite;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 500ms ease;

        &:hover {
            background-color: $green;
            color: $white;
        }

        a {
            font-size: 16px;
        }
    }
}

.overflow-x {
    overflow-x: hidden !important;
}

aside#rightSide {
    width: 14em;
    height: 100vh;
    // border: 1px solid yellow;

    #downloadCV {
        height: 20%;
        // border: 1px solid yellow;
    }

    a {
        font-size: 16px;

    }

    #pageBar {
        height: 80%;
        // width: 100%;
        padding-right: 2em;
        // border: 1px solid yellow;
    }

    .ellipse {
        width: 12px;
        height: 12px;
        margin: 8px 0;
        background-color: $darkgreen;
        border-radius: 50%;
    }
}

.bg-dark2 {
    background-color: $dark;
}

main {
    margin-top: 5em;

    .text-gradient-green {
        background: #23CFA7;
        background: linear-gradient(to right, #23CFA7 0%, #1A7878 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }

    section {
        padding: 2em 0 4em 0;
    }

    section#turbotron {
        overflow: hidden;
        width: 100vw;
        // border: 1px solid yellow;
        position: relative;

        #textJumbotron {
            opacity: 0;
        }

        #photoJumbotron {
            opacity: 0;
        }

        .bg-gradient-green {
            background: rgb(35, 99, 122);
            background: linear-gradient(90deg, rgba(35, 99, 122, 1) 0%, rgba(51, 166, 91, 1) 57%, rgba(197, 255, 169, 1) 100%);
        }

        // .button-hire {
        //     box-sizing: border-box;
        // }

        .arrow-button {
            border: 2px solid white;

            background: rgb(255, 255, 255);
            background: linear-gradient(90deg, rgba(255, 255, 255, 0.38139005602240894) 0%, rgba(255, 255, 255, 0.14049369747899154) 100%);
        }

        .textJumboName {
            @media screen and (max-width: 480px) {
                font-size: 3.5em;
            }

            @media screen and (min-width: 480px) {
                font-size: 4em;
            }
        }

        .contain {
            z-index: 5;
        }

        .box-scroll {
            width: 4em;
            height: 4em;
            // border: 2px solid $green;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            animation: yourAnimation 3s ease 0s infinite normal none;

            .angle-down {
                width: 1em;
                height: 1em;
                border-bottom: 2px solid $green;
                border-left: 2px solid $green;
                transform: rotate(-45deg);
            }

            /* Copy this @keyframes block to your CSS*/
            @keyframes yourAnimation {
                0.0% {
                    opacity: 0;
                }

                100% {
                    opacity: 0;
                }

                24.6% {
                    opacity: 1;
                }

                49.5% {
                    opacity: 0;
                }

                74.9% {
                    opacity: 1;
                }
            }

        }



        #textImageTurbotron {
            bottom: 0px;
            right: 4em;
            // border: 1px solid yellow;
        }

        .imageJumbo {
            width: 80%;
        }
    }

    section#background {

        #contentBackground {
            opacity: 0;
        }

        .bg-text-background {
            position: absolute;
            top: 0;
            z-index: 1;
            color: #444;

            @media screen and (max-width: 480px) {
                font-size: 4em;

            }

            @media screen and (min-width: 480px) {
                font-size: 6em;
            }
        }

        .text-background {
            line-height: 2em;
        }

        .text-section-background {
            z-index: 3;
            position: relative;
        }

        .button-next-background {
            width: 3em;
            height: 3em;
            border: 2px solid $green;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: $green;
            transition: 1s ease;
            cursor: pointer;

            &:hover {
                background: $green;
            }
        }

        .img-stack {
            width: 64px !important;
            height: 64px !important;
            // border: 1px solid white;
            margin: 0 0.75em;
            filter: saturate(0);
        }
    }

    section#aboutme {
        #contentAboutme {
            opacity: 0;
        }

        .box-hobby {
            @media screen and (max-width: 480px) {
                width: 4em;
            }

            @media screen and (min-width: 480px) {
                width: 5.5em;
            }
        }

        .text-bg-about {
            width: 6em;
            position: absolute;
            transform:
                rotate(-90deg) translate(-3em, -2em);
            // border: 1px solid green;
            color: #444;

            @media screen and (max-width: 480px) {
                font-size: 4em;
            }

            @media screen and (min-width: 480px) {
                font-size: 6em;
            }
        }
    }

    section#portfolio {

        #contentPortfolio {
            opacity: 0;
        }

        .bg-portfolio {
            position: absolute;
            height: 32em;
            z-index: -1;

            @media screen and (max-width: 480px) {
                height: 16em;
            }

            @media screen and (min-width: 480px) {
                height: 32em;
            }

            .portfolio-line {
                width: 100%;
                height: 10em;
                margin-top: 5em;
            }

            .text-bg-portfolio {
                color: #444;

                @media screen and (max-width: 480px) {
                    font-size: 4em;
                }

                @media screen and (min-width: 480px) {
                    font-size: 6em;
                }
            }
        }

        .portfolio-content {
            @media screen and (max-width: 480px) {
                height: 16em;
            }

            @media screen and (min-width: 480px) {
                height: 32em;
            }

            display: flex;
            align-items: center;

            .text-subtitle-portfolio {
                text-transform: uppercase;

                @media screen and (max-width: 480px) {
                    transform: rotate(0deg) translate(0, 0);
                }

                @media screen and (min-width: 480px) {
                    transform: rotate(-90deg) translate(0, -1.5em);
                }
            }
        }

        .box-portfolio {
            // width: 18em;
            cursor: pointer;
            height: 24em;

            // border: 1px solid green;
            position: relative;

            .img-gray {
                filter: grayscale(100%);

                @media screen and (max-width: 480px) {
                    filter: grayscale(0%);

                }

                @media screen and (min-width: 480px) {
                    filter: grayscale(100%);
                }
            }

            &:hover>.img-gray {
                filter: grayscale(0%);
            }

            .text-box-portofolio {
                width: 100%;
                height: 100%;
                position: absolute;
                padding: 1em;
                top: 0;
                // border: 1px soid yellow;
            }

            .text-title-box {
                position: absolute;
                transition: 1s ease-in;
            }

            &:hover>.text-box-portofolio {
                background: rgb(23, 26, 25);
                background: linear-gradient(180deg, rgba(23, 26, 25, 1) 0%, rgba(23, 26, 25, 0.25253851540616246) 25%, rgba(23, 26, 25, 0) 50%, rgba(23, 26, 25, 0.2497373949579832) 75%, rgba(23, 26, 25, 1) 100%);
            }
        }
    }
}

.img-fluid {
    object-fit: cover;
}


@keyframes kanankiri {
    0% {
        left: 0;
        transform: translate(0);
    }

    100% {
        left: 0;
        transform: translate(0);
    }

    45% {
        left: 0;
        transform: translate(-40%);
    }
}

.anime-kanan-kiri {
    animation: kanankiri 20s ease 0s infinite normal none;
}

#cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 999;
    border: 2px solid $green;
    border-radius: 50%;
    transition: 100ms ease;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.underliness {
    color: $white;
    text-decoration: none;
    transition: 500ms ease;

    &:hover {
        color: $green;
    }

    // &:hover~#cursor {
    //     transform: scale(50);
    // }
}

.bg-gradient-green {
    background: rgb(35, 99, 122);
    background: linear-gradient(90deg, rgba(35, 99, 122, 1) 0%, rgba(51, 166, 91, 1) 57%, rgba(197, 255, 169, 1) 100%);
}

a:hover~#cursor {
    transform: scale(50%);
}

.parent-photo1 {
    position: absolute;
    overflow-x: hidden;
    top: 0;
    padding-bottom: 3em;
}

.photo1 {

    z-index: -1;
    height: 24em;
    margin-top: -8em;
    margin-left: 8.5em;
    -webkit-filter: brightness(90%) contrast(125%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(50%);
    filter: brightness(90%) contrast(125%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(50%);
    mix-blend-mode: none;
    transform: rotate(-18deg);

}

.modal-content {
    background-color: $dark;
}

.modal-backdrop {
    z-index: -1;
}